{% extends "base.html" %}
{% load staticfiles %}

{% block title %}password reset{% endblock %}

{% block content %}

<div class="row text-center vertical-middle-sm">
    <h1>Forgotten your password? Reset now</h1>
    <form action="" class="form-horizontal" method="post">{% csrf_token %}
        <div class="form-group">
            <label for="" class="col-md-5 control-label text-right">Email</label>
            <div class="col-md-6">{{form.email}}</div>
        </div>
        <input type="submit" value="Send email" class="btn btn-primary btn-lg">
    </form>
</div>

{% endblock %}