{% load staticfiles %}
<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-hear">

        </div>
        <div class="">
            <ul class="nav navbar-nav" role="tablist">
                <li><a href="#">Python</a></li>
                <li><a href="#">PHP</a></li>
                <li><a href="#">Git</a></li>
                <li><a href="#">Linux</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right text-right">
                {% if user.is_authenticated %}
                <li><a href="{% url 'account:my_information' %}"> {{ user.username}}</a></li>
                <!--这个名字为url起的名字-->
                <li><a href="{% url 'account:user_logout' %}">Logout</a></li>
                <li><a href="{% url 'account:my_information_edit' %}">个人信息</a></li>
                {% else %}
                
                <li><a href="{% url 'account:user_login' %}">Login</a></li>
                {% endif %}

            </ul>
        </div>
    </nav>
</div>